<div class="container">
    <div class="col-md-7 mx-auto m-5">
        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="userid" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="userpw" placeholder="Password">
            </div>
            <div class="row mb-3 ml-1">
                <% if(error == "notfound") { %>
                    <p class="text-danger">We cannot find an account with that email address</p>
                <% }else if(error == "notlogined") { %>
                    <p class="text-danger">If you want to use this service, you have to login first</p>
                <% } %>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
        </form>
    </div>
</div>
