<div class="container">
    <form id='register' class="col-md-8 mx-auto p-4" action="/user/register" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="userid" placeholder="Enter email" required>
            <p id="email-overlap" class="text-danger" style="display : none">Your email already used!</p>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="userpw" placeholder="Enter Password" pattern="^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$" required>
            <p id="pw-confirm" class="text-danger" style="display : none">fit your password to rule</p>
            <small id="emailHelp" class="form-text text-muted">Must be 8~16 digits, including text, numbers, and special characters.</small>
        </div>
        <div class="form-group">
            <label for="password2">Confirm  Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Enter Password" pattern="^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$" required>
            <p id="pw-again" class="text-danger" style="display : none">confirm is not match</p>
            <small id="emailHelp" class="form-text text-muted">Check your password again</small>
        </div>
        <div class="form-group">
            <label for="name">Name (NickName)</label>
            <input type="text" class="form-control" id="name" name="usernm" placeholder="Enter Name" pattern="^[a-zA-Z가-힣]{2,16}$" required>
            <small id="emailHelp" class="form-text text-muted">Must be 2~16 digits, including text(Korea, English) and number</small>
        </div>
        <div class="form-group">
            <label for="Address">Home Address</label>
            <input type="text" class="form-control" id="Address" name="userad" placeholder="Enter Address" required>
            <small id="emailHelp" class="form-text text-muted">Your products will be delivered to this address</small>
        </div>
        <div class="form-group">
            <label for="Address">Phone</label>
            <div class="input-group-prepend input-group-sm col-6 p-0">
                <select type="text" class="form-control mr-2" name="phone1">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="070">070</option>
                </select> - 
                <input type="number" class="form-control mr-2 ml-2" name="phone2" pattern="^[0-9]{3,4}$" title="Only 3-4 number" required> - 
                <input type="number" class="form-control mr-2 ml-2" name="phone3" pattern="^[0-9]{3,4}$" title="Only 3-4 number" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-5">Submit</button>
    </form>
</div>
<script type="text/javascript">
    var submit = true;
    $("#register").submit(function(e){
        var email = $("#email").val();
        $.ajax({
            async : false,
            "type" : "post",
            dataType : "JSON",
            url : "/user/overlap",
            data : {email : email},
            success : function(data){
                if(data.overlap){
                    $("#email-overlap").show();
                    $("#email").select().focus();
                    submit = false;
                }
            }
        });
        return submit;
    });
    $("#email").keydown(function(){
        $("#email-overlap").hide(); 
    });
    var pw_reg = new RegExp(/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{6,18}$/);
    $("#password").keyup(function(){
        var val = $(this).val();
        console.log(pw_reg.test(val));
        if(pw_reg.test(val)){
            $("#pw-confirm").hide();
            submit = true;
        }else{
            $("#pw-confirm").show();
            submit = false;
        }
    });
    $("#password2").keyup(function(){
        if($("#password2").val() != $("#password").val()){
            $("#pw-again").show();
            submit = false;
        }else{
            $("#pw-again").hide();
            submit = true;
        }
    });
</script>