<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>hotsoyshopping</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <% if(css){ %>
    <link rel="stylesheet" href="/css/<%= css %>">
    <% } %>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="wrap-middle">
                <div class="header-top">
                    <div class="header-logo left">
                        <a href="/"><img src="/img/logo.png" alt="logo"></a>
                    </div>
                    <ul class="member right">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="#">마이쇼핑</a></li>
                    </ul>
                </div>
            </div>
            <div class="wrap-middle">
                <div class="header-bottom">
                    <nav>
                        <ul class="right">
                            <li class="header-nav-select"><a href="#">메인</a></li>
                            <li><a href="#">의류</a></li>
                            <li><a href="#">가전</a></li>
                            <li><a href="#">전자</a></li>
                            <li><a href="#">식품</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>