<%- include('header', { css : css }) %>
<section class="main">
    <div class="main-wrap">
        <form action="/user/login" class="main-login-form" method="post">
            <h2 class="main-login-title">로그인</h2>
            <div class="main-login-inputBox">
                <button>로그인</button>
                <input type="text"     name="userid" placeholder="아이디">
                <input type="password" name="userpw" placeholder="비밀번호">
            </div>
            <div class="main-login-save"><input type="checkbox" id="find-id"> <label for="find-id">아이디 저장</label></div>
            <div class="main-login-find">
                <a href="#">계정 찾기</a>
            </div>
            <a href="/user/register"><button type="button" class="main-login-btn-join">회원가입</button></a>
        </form>
    </div>
    <ul id="slide" class="slide">
        <li><img src="img/slide1.jpg" alt="slide img"></li>
        <li><img src="img/slide2.jpg" alt="slide img"></li>
        <li><img src="img/slide3.jpg" alt="slide img"></li>
    </ul>
</section>
<section class="showjob wrap-middle">
    <div class="showjob-title">
        <span>HSS</span>가 당신을 위해 제공하는 것들
    </div>
    <ul class="showjob-list float">
        <li>
            <a href="#">
                <p class="showjob-list-title">의류</p>
                <img src="img/cloth.png" alt="img" class="showjob-list-img">
                <p class="showjob-list-content">
                    당신을 꾸며줄 예쁜 옷들
                </p>
                <button class="showjob-list-golink">
                    쇼핑하기
                </button>
            </a>
        </li>
        <li>
            <a href="#">
                <p class="showjob-list-title">가전</p>
                <img src="img/microwave.png" alt="img" class="showjob-list-img">
                <p class="showjob-list-content">
                    살림을 더 편하게
                </p>
                <button class="showjob-list-golink">
                    쇼핑하기
                </button>
            </a>
        </li>
        <li>
            <a href="#">
               <p class="showjob-list-title">전자</p>
                <img src="img/computer.png" alt="img" class="showjob-list-img">
                <p class="showjob-list-content">
                    매우 빠른 속도
                </p>
                <button class="showjob-list-golink">
                    쇼핑하기
                </button>
            </a>
        </li>
        <li>
            <a href="#">
               <p class="showjob-list-title">식품</p>
                <img src="img/food.png" alt="img" class="showjob-list-img">
                <p class="showjob-list-content">
                    맛있는 음식들
                </p>
                <button class="showjob-list-golink">
                    쇼핑하기
                </button>
            </a>
        </li>
    </ul>
</section>
<script src="/js/main.js"></script>
<% include ./footer.ejs %>