<%- include('header', { css : css }) %>
<div class="join-form">
    <h1 class="join-form-title">회원가입</h1>
    <form action="/user/register" method="post" id="form-join">
        <div class="join-input-wrap">
            <div class="join-input-title">아이디 * </div>
            <input type="text" name="userid" pattern="^(?=.*[A-Za-z])(?=.*[0-9]).{6,14}$" required placeholder="아이디">
            <a id="check-overlap" class="check-overlap">중복확인</a>
        </div>
        <div class="join-input-wrap">
            <div class="join-input-title">비밀번호 *</div>
            <input type="password" name="userpw" id="input-password" class="join-input-pw" required placeholder="비밀번호">
            <span id="password" class="ps-alert"></span>
        </div>
        <div class="join-input-wrap">
            <div class="join-input-title">비밀번호 확인 *</div>
            <input type="password" name="userpwa" id="input-passworda" class="join-input-pw" required placeholder="비밀번호 확인">
            <span id="passworda" class="ps-alert"></span>
        </div>
        <div class="join-input-wrap">
            <div class="join-input-title">이름 *</div>
            <input type="text" name="usernm" placeholder="이름" pattern="[가-힣]{2,4}" required>
        </div>
        <div class="join-input-wrap">
            <div class="join-input-title">전화번호 *</div>
            <select name="phone1" id="" class="join-input-phone" required>
                <option value="">선택</option>
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="017">017</option>
            </select> -
            <input type="text" class="join-input-phone" name="phone2" pattern="[0-9]{4}" required> -
            <input type="text" class="join-input-phone" name="phone3" pattern="[0-9]{4}" required>
        </div>
        <div class="join-input-wrap">
            <div class="join-input-title">주소 *</div>
            <input type="text" class="join-input-address" name="userad" placeholder="주소 : ex) 서울시 양천구 신정동 오목로27길 7-1 3층" required>
        </div>
        <div class="join-form-submit">
            <button>회원가입</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        var overlap;
        var pw = false;
        var pwa = false;
        
        $("#input-password").keyup(function(){
            var val = $(this).val();
            var ps = $("#password");
            var pw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^~*+=-])(?=.*[0-9]).{6,14}$/;
            if(!pw.test(val)){
                $(ps).text("숫자, 영어, 일부 특수문자 포함 6~14자 입니다.");
            }else{
                $(ps).text("적절함");
                pw = true;
            }
        });
        
        $("#input-passworda").keyup(function(){
            var ps  = $("#input-password").val();
            var psa = $(this).val();
            if(ps!=psa){
                $("#passworda").text("일치하지 않음");
            }else{
                $("#passworda").text("일치함");
                pwa = true;
            }
        });
        
        $("#check-overlap").click(function(){
            var val = $("input[name='userid']").val();
            var reg = /^(?=.*[A-Za-z])(?=.*[0-9]).{6,14}$/;
            if(reg.test(val) === false){
                alert("적절하지 않은 아이디입니다");
                return;
            }
            $.ajax({
                url    : "/user/overlap",
                method : "post",
                data   : { "userid" : val },
                success: function(data){
                    if(data['overlap'] == true){
                        alert("적절한 아이디입니다.");
                        overlap = true;
                    }else{
                        alert("중복된 아이디입니다.");
                        overlap = false;
                    }
                }
            });
        });
        
        $("#form-join").submit(function(){
            if( overlap === undefined ){
                alert("중복확인을 해주세요");
                return false;
            }
            if( overlap === false ){
                alert("중복된 아이디입니다.");
                return false;
            }
            if( pw === false){
                alert("적절하지 않은 비밀번호 양식입니다.");
                return false;
            }
            if( pwa === false){
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
        });
    });
</script>
<% include footer.ejs %>